.App-logo {
  height: 10vmin;
  pointer-events: none;
  block-size: 50px;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  margin: 20px auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* ------------------------------------------------------------------  */

.App-header {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.App-header p {
  color: #61dafb;
  display: block;
}
.App-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.App-header ul li {
  display: inline-block;
  font-weight: bold;
}
.App-header ul li a {
  color: white;
  padding: 10px 15px;
  font-size: 30px;
  text-decoration: none;
  display: block;
}
.App-header ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}
/* ----------------------------------------------------------------  */
.App-footer {
  background-color: black;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 30px;
}
.footer__content p {
  color: white;
  text-align: center;
  font-size: 1.5em;
}
/* ------------------------------------------------------------------  */
.main {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.memecard {
  display: block;
  position: relative;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  height: 450px;
  max-width: 600px;
  margin: 20px;
  opacity: 0.8;
}
.memetitle {
  height: 50px;
  background-color: #f44336;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-weight: bold;
}
.memeimg {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: null;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}

.memevote {
  display: flex;
  justify-content: space-around;
}
.upv {
  text-align: center;
  color: green;
}
.downv {
  text-align: center;
  color: red;
}
.btn {
  display: block;
}
/* ------------------------------------------------------------------ */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.memecard:hover {
  opacity: 1;
}
